* {
  box-sizing: border-box;
}

title {
    float: left;
    width: 60%;
    /* padding: 20px; */
}

/* Style the header */
header {
    /* background-color: #666; */
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    /* color: white; */
}

/* Style the main content column */
main {
  float: left;
  padding-left: 20px;
  /* padding-top: 20px; */
  padding-right: 20px;
  padding-bottom: 20px;
  width: 50%;
  /* height: 100%; */
  /* overflow: auto; */
  /* box-sizing:border-box; */
  /* background-color: #f1f1f1; */
}

/* Style the whitespace to the right of main content */
right_margin {
    float: left;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    padding: 20px;
}

/* Style the column to the left of the main column */
left_margin {
    float: left;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    margin-top: 3rem;
  /* box-sizing: border-box; */
  /* height: 100%; */
  /* overflow: auto; */
  /* -ms-overflow-style: none;  /\* IE and Edge *\/ */
  /* scrollbar-width: none;  /\* Firefox *\/ */
}

/*Hide the Scrollbar in Webkit Browsers */
/* .margin::-webkit-scrollbar { */
/*     display:none; */
/* } */

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  /* background-color: #777; */
  padding: 10px;
  text-align: center;
  /* color: white; */
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other, on small screens */
@media screen and (max-width: 800px) {
    header, left_margin, main, right_margin {
        width: 100%;
        margin: 0%;
    }
}

/* Text attributes */
body {
    color: #704214;
    background-color: #fffdf8;
    font-family: "Crimson";
    font-size: 115%;
}

h1, 
.jpr-h1,
h2,
.jpr-h2,
h3,
.jpr-h3,
h4,
.jpr-h4,
h5,
.jpr-h5,
h6,
.jpr-h6 {
    color: #3f250b;
	line-height: 1.1;
}

h1,
.jpr-h1 {
    margin-top: .2rem;
    font-size: 350%;
    font-style: bold;
    margin-bottom: .4rem;
}

h2,
.jpr-h2 {
    margin-top: .2rem;
    font-size: 150%;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: .1rem;
}

h3,
.jpr-h3 {
	font-size: 125%;
	font-style: bold;
	margin-bottom: 0;
}
h4,
.jpr-h4,
h5,
.jpr-h5,
h6,
.jpr-h6 {
	font-size: normal;
	margin-bottom: 0;
}

h4,
.jpr-h4 {
	font-variant: small-caps;
}

h5,
.jpr-h5 {
	font-style: bold;
}

h6,
.jpr-h6 {
	font-style: italic;
	font-weight: normal;
}

h1.Post  {
    font-size: 200%;
    margin-top: 3rem;
}

h1.Footer {
    font-size: 50%;
    margin-top: 3rem;
}

small,
.jpr-small {

}

p,
.jpr-p {
    line-height: 1.2;
	margin-top: 0;
	margin-left: .25rem;
	margin-right: .25rem;
	margin-bottom: 1.1rem;
}

a {
	color: #709a5b;
}

a:visited {
	color: #3a502f;
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	font-style: bold;
}

ol,
ul {
	margin-top: .1rem;
}


li {
	line-height: 1.1;
}

blockquote {
    font-style: italic;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #3a502f;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}
