
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  /* background-color: #666; */
  padding: 30px;
  text-align: center;
  font-size: 35px;
  /* color: white; */
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  /* background: #ccc; */
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

main {
  float: left;
  padding: 20px;
  width: 40%;
  /* background-color: #f1f1f1; */
}

margin {
  float: right;
  width: 30%;
  /* background: #ccc; */
  padding: 20px;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  /* background-color: #777; */
  padding: 10px;
  text-align: center;
  /* color: white; */
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 60%;
    height: auto;
  }
}

/* Text attributes */
body {
    color: #704214;
    background-color: #fffdf8;
	font-family: "Crimson";
}

h1, 
.jpr-h1,
h2,
.jpr-h2,
h3,
.jpr-h3,
h4,
.jpr-h4,
h5,
.jpr-h5,
h6,
.jpr-h6 {
    color: #3f250b;
	margin-top: .1rem;
	line-height: 1.1;
}

h1, 
.jpr-h1 {
	font-size: 250%;
	font-style: bold;
	margin-bottom: .2rem;
}

h2,
.jpr-h2 {
	font-size: 150%;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: .1rem;
}

h3,
.jpr-h3 {
	font-size: 125%;
	font-style: bold;
	margin-bottom: 0;
}
h4,
.jpr-h4,
h5,
.jpr-h5,
h6,
.jpr-h6 {
	font-size: normal;
	margin-bottom: 0;
}

h4,
.jpr-h4 {
	font-variant: small-caps;
}

h5,
.jpr-h5 {
	font-style: bold;
}

h6,
.jpr-h6 {
	font-style: italic;
	font-weight: normal;
}

small, 
.jpr-small {

}

p,
.jpr-p {
    line-height: 1.1;
	margin-top: 0;
	margin-left: .25rem;
	margin-right: .25rem;
	margin-bottom: 1.1rem;
}

a {
	color: #709a5b;
}

a:visited {
	color: #3a502f;
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	font-style: bold;
}

ol,
ul {
	margin-top: .1rem;
}


li {
	line-height: 1.1;
}
