<!DOCTYPE html>
<html><head>
<title>Building a Knowledge Handling Set Up - Part 1 - Introduction</title>

<meta charset="utf-8">
<meta name="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="telephone=no" name="format-detection">
<meta name="description" content="Today I&#39;m kicking off a series on building a *Knowledge Handling Set Up* (KHS). There are many tools, frameworks, and ways of working out there for learning and holding onto knowledge, and it can be hard to fit them together into a whole that works for you, what I call a KHS.">
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ffffff">




<script src="/vendor/js/jquery.min.js" ></script>
<script src="/vendor/js/popper.min.js" ></script>
<script src="/vendor/js/bootstrap.min.js" ></script>
<script src="/vendor/js/smooth-scroll.polyfills.min.js" ></script>
<link type="text/css" rel="stylesheet" href="/vendor/css/bootstrap.min.css">
<script src="/vendor/js/vue.min.js" ></script>




<link rel="stylesheet" href="/scss/journal.min.56b67b8b01d7cd1015ed14414fd2fc33ebfb2e8413dcbc47c5cd734544c92cd7.css" integrity="sha256-VrZ7iwHXzRAV7RRBT9L8M&#43;v7LoQT3LxHxc1zRUTJLNc=" media="screen">



<link rel="stylesheet" href="/scss/dark-mode.min.5a2bbd1758c83affd639a91fbfd5cc681b1a5574df99442825c444dd40504b13.css" integrity="sha256-Wiu9F1jIOv/WOakfv9XMaBsaVXTfmUQoJcRE3UBQSxM=" media="screen">


<script src="/js/loadCSS.js"></script>
<script>
  loadCSS("https://fonts.googleapis.com/css?family=Lora|Montserrat|Fira+Mono|Noto+Serif+SC|Material+Icons");
</script>

<script src="/js/table.js"></script>




<script src="/js/toc.js"></script>








</head><body>
    	<div id="app"><div ref="sideContainer" class="side-container">
    
    <a class="a-block nav-head false" href="/">
    
        <div class="nav-title">
            Jeff Russell&#39;s Webstead
        </div>
        
        <div class="nav-subtitle">
            My little corner of the web
        </div>
        
    </a>

    <div class="nav-link-list">
        
        
            
            
            
                
            
            
            
            <a class="a-block nav-link-item active" href="/thinking">
                Thinking
            </a>
            
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="/reading">
                Reading
            </a>
            
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="/gaming">
                Gaming
            </a>
            
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="/coaching">
                Coaching
            </a>
            
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="/leaves">
                Leaves
            </a>
            
        
    </div>



    <div class="nav-footer">
        
Hugo Theme <a href="https://github.com/amazingrise/hugo-theme-diary">Diary</a> by <a href="https://amazingrise.net">Rise</a>
<br>
Ported from <a href="https://mak1t0.cc/" target="_blank" rel="noreferrer noopener">Makito</a>'s <a href="https://github.com/SumiMakito/hexo-theme-journal/" target="_blank" rel="noreferrer noopener">Journal.</a> <br>
<br>

&copy;
	
	2020 Jeff Russell&#39;s Webstead
	
    </div>

</div>
<div ref="extraContainer" class="extra-container">
    
    
    <div class="toc animated-visibility" :class="{ invisible: scrollY <= 140 }">


	<div class="toc-content">
	
		
		
		
		<center>- CATALOG -</center>
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#intro" v-on:click="closeDrawer" id="intro-nav">
										 Intro
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#unfolding-knowledge-handling-set-up" v-on:click="closeDrawer" id="unfolding-knowledge-handling-set-up-nav">
										 Unfolding “Knowledge Handling Set Up”
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#knowledge" v-on:click="closeDrawer" id="knowledge-nav">
										 Knowledge
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#at-hand" v-on:click="closeDrawer" id="at-hand-nav">
										 At Hand
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#helpful" v-on:click="closeDrawer" id="helpful-nav">
										 Helpful
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#bringing-in-new-knowledge" v-on:click="closeDrawer" id="bringing-in-new-knowledge-nav">
										 Bringing in New Knowledge
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#finding" v-on:click="closeDrawer" id="finding-nav">
										 Finding
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#sifting" v-on:click="closeDrawer" id="sifting-nav">
										 Sifting
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#processing" v-on:click="closeDrawer" id="processing-nav">
										 Processing
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#pulling-up-the-knowledge" v-on:click="closeDrawer" id="pulling-up-the-knowledge-nav">
										 Pulling Up the Knowledge
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#put-knowledge-in-your-head" v-on:click="closeDrawer" id="put-knowledge-in-your-head-nav">
										 Put Knowledge In Your Head
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#put-knowledge-where-you-can-find-it" v-on:click="closeDrawer" id="put-knowledge-where-you-can-find-it-nav">
										 Put Knowledge Where You Can Find It
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#put-knowledge-where-it-can-find-you" v-on:click="closeDrawer" id="put-knowledge-where-it-can-find-you-nav">
										 Put Knowledge Where It Can Find You
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#doing-something-with-the-knowledge" v-on:click="closeDrawer" id="doing-something-with-the-knowledge-nav">
										 Doing something with the knowledge
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#finding-the-so-what" v-on:click="closeDrawer" id="finding-the-so-what-nav">
										 Finding the “So What”
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#goals-and-undertakings" v-on:click="closeDrawer" id="goals-and-undertakings-nav">
										 Goals and Undertakings
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#un--and-re-setting" v-on:click="closeDrawer" id="un--and-re-setting-nav">
										 Un- and Re-Setting
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#conclusion" v-on:click="closeDrawer" id="conclusion-nav">
										 Conclusion
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
	</div>

</div>
    
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility" href="#top" :class="{ invisible: scrollY == 0 }">
            <i class="material-icons pagination-action-icon">
                keyboard_arrow_up
            </i>
        </a>
        
        <a class="pagination-action" v-on:click="toggleDarkMode">
            <i class="material-icons pagination-action-icon" v-if="isDarkMode">
                brightness_4
            </i>
            <i class="material-icons pagination-action-icon" v-else="isDarkMode">
                brightness_7
            </i>
        </a>
        
        
    </div>
</div><div class="single-column-drawer-container" ref="drawer"
     v-bind:class="{ 'single-column-drawer-container-active': isDrawerOpen }">
    <div class="drawer-content">
        <div class="drawer-menu">
            
            
            
                
                
                
                    
                
                
                
                <a class="a-block drawer-menu-item active" href="/thinking">
                    Thinking
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/reading">
                    Reading
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/gaming">
                    Gaming
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/coaching">
                    Coaching
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/leaves">
                    Leaves
                </a>
                
            
            
            <div class="toc">


	<div class="toc-content">
	
		
		
		
		<center>- CATALOG -</center>
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#intro" v-on:click="closeDrawer" id="intro-nav">
										 Intro
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#unfolding-knowledge-handling-set-up" v-on:click="closeDrawer" id="unfolding-knowledge-handling-set-up-nav">
										 Unfolding “Knowledge Handling Set Up”
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#knowledge" v-on:click="closeDrawer" id="knowledge-nav">
										 Knowledge
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#at-hand" v-on:click="closeDrawer" id="at-hand-nav">
										 At Hand
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#helpful" v-on:click="closeDrawer" id="helpful-nav">
										 Helpful
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#bringing-in-new-knowledge" v-on:click="closeDrawer" id="bringing-in-new-knowledge-nav">
										 Bringing in New Knowledge
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#finding" v-on:click="closeDrawer" id="finding-nav">
										 Finding
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#sifting" v-on:click="closeDrawer" id="sifting-nav">
										 Sifting
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#processing" v-on:click="closeDrawer" id="processing-nav">
										 Processing
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#pulling-up-the-knowledge" v-on:click="closeDrawer" id="pulling-up-the-knowledge-nav">
										 Pulling Up the Knowledge
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#put-knowledge-in-your-head" v-on:click="closeDrawer" id="put-knowledge-in-your-head-nav">
										 Put Knowledge In Your Head
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#put-knowledge-where-you-can-find-it" v-on:click="closeDrawer" id="put-knowledge-where-you-can-find-it-nav">
										 Put Knowledge Where You Can Find It
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#put-knowledge-where-it-can-find-you" v-on:click="closeDrawer" id="put-knowledge-where-it-can-find-you-nav">
										 Put Knowledge Where It Can Find You
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#doing-something-with-the-knowledge" v-on:click="closeDrawer" id="doing-something-with-the-knowledge-nav">
										 Doing something with the knowledge
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#finding-the-so-what" v-on:click="closeDrawer" id="finding-the-so-what-nav">
										 Finding the “So What”
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#goals-and-undertakings" v-on:click="closeDrawer" id="goals-and-undertakings-nav">
										 Goals and Undertakings
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#un--and-re-setting" v-on:click="closeDrawer" id="un--and-re-setting-nav">
										 Un- and Re-Setting
									</a>
								</li>
						
							</ul>
						
							</ul>
						
							</ul>
						
					
				
			
				
				
					
						
						
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#conclusion" v-on:click="closeDrawer" id="conclusion-nav">
										 Conclusion
									</a>
								</li>
						
							</ul>
						
							</ul>
						
					
				
			
	</div>

</div>
            
        </div>
    </div>
</div>
<transition name="fade">
    <div v-bind:class="{ 'single-column-drawer-mask': mounted }" v-if="isDrawerOpen" v-on:click="toggleDrawer"></div>
</transition>
<nav ref="navBar" class="navbar sticky-top navbar-light single-column-nav-container">
    <div ref="navBackground" class="nav-background"></div>
    <div class="container container-narrow nav-content">
        <button id="nav_dropdown_btn" class="nav-dropdown-toggle" type="button" v-on:click="toggleDrawer">
            <i class="material-icons">
                menu
            </i>
        </button>
        <a ref="navTitle" class="navbar-brand" href="">
            Jeff Russell&#39;s Webstead
        </a>
        
        <button type="button" class="nav-darkmode-toggle" v-on:click="toggleDarkMode">
            <i class="material-icons" v-if="isDarkMode">
                brightness_4
            </i>
            <i class="material-icons" v-else="isDarkMode">
                brightness_7
            </i>
        </button>
        
    </div>
</nav>
<div class="single-column-header-container" ref="pageHead"
     v-bind:style="{ transform: 'translateZ(0px) translateY('+.3*scrollY+'px)', opacity: 1-navOpacity }">
    <a href="">
        <div class="single-column-header-title">Jeff Russell&#39;s Webstead</div>
        
        <div class="single-column-header-subtitle">My little corner of the web</div>
        

    </a>
</div>
            <div id="content">
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            
            
            

            <div class="post-head-wrapper-text-only"
                
            >
                <div class="post-title">
                    Building a Knowledge Handling Set Up - Part 1 - Introduction
                    
                    <div class="post-subtitle">
                        Today I&#39;m kicking off a series on building a *Knowledge Handling Set Up* (KHS). There are many tools, frameworks, and ways of working out there for learning and holding onto knowledge, and it can be hard to fit them together into a whole that works for you, what I call a KHS.
                    </div>
                    
                    <div class="post-meta">
                        
                        <time itemprop="datePublished">
                            2020-05-29 00:00
                        </time>
                        

                        
                            <i class="material-icons" style="">folder</i>
                                <a href="/categories/">[Thinking]</a>
                                &nbsp;
                        

                        
                            <i class="material-icons" style="">label</i>
                            
                                <a href="/tags/thinking">Thinking</a>
                                &nbsp;
                            
                                <a href="/tags/learning">Learning</a>
                                &nbsp;
                            
                                <a href="/tags/khs">KHS</a>
                                &nbsp;
                            
                        
                        
                    </div>
                </div>
            </div>
            
            <div class="post-body-wrapper">
                <div class="post-body">
                    <h2 id="intro">Intro</h2>
<p>Today I&rsquo;m kicking off a series on building a <em>Knowledge Handling Set Up</em>
(KHS). There are many tools, frameworks, and ways of working out there
for learning and holding onto knowledge, and it can be hard to fit them
together into a whole that works for you, what I call a KHS.</p>
<p>This series is a bit unlike some of my others, in that I&rsquo;ll be working
it it out as I go. In the past, I&rsquo;ve done most of my thinking and
testing hidden away on my own, and only shared things when they&rsquo;re
pretty well settled. I want to change that, for I think you and I will
both be better off if I lay bare more of the starts, stops, and dead
ends that go into getting to output I can stand behind. Even more than
most things, a KHS has to be built /for you/, so I think that showing
my way of working will be more worthwhile than sharing what works /for
me/.</p>
<p>So, below I lay out what a &ldquo;Knowledge Handling Set Up&rdquo; needs to have to
earn the name, and then step through the framework I&rsquo;ve come up with to
get to one. That framework is made up of bringing in new knowledge,
working through it, and doing something worthwhile with it once it&rsquo;s in
your set up. I believe the coming posts will follow this framework, but
with a working series, that may change.</p>
<h2 id="unfolding-knowledge-handling-set-up">Unfolding &ldquo;Knowledge Handling Set Up&rdquo;</h2>
<p>As you
<a href="https://jpowellrussell.com/coaching/2017-08-11-creativity-part-1-defining-creativity/">might</a>
<a href="https://jpowellrussell.com/coaching/2017-10-27-storytelling-part-1-introduction/">recall</a>,
I like to start series out by laying out the meaning of key words as
I&rsquo;ll be using them. My working meaning for <strong>Knowledge Handling Set Up</strong>
(KHS) is: &ldquo;A way of bringing in and holding onto knowledge in such a way
that it is at hand whenever it will be helpful.&rdquo; There are three main
bits: 1) <em>knowledge</em>, 2) <em>at hand</em>, and 3) <em>helpful</em>. Let&rsquo;s unpack each
of these bits:</p>
<h3 id="knowledge">Knowledge</h3>
<p>By <em>Knowledge</em>, I mean anything that can be known: words, knowhow,
insights, crafts, and so forth. This one&rsquo;s pretty straightforward, but
I&rsquo;d like to point out that &ldquo;knowledge&rdquo; holds more than book smarts -
learning a martial art or yoga or the like count as much, but won&rsquo;t be
where we spend most of our time in this series.</p>
<h3 id="at-hand">At Hand</h3>
<p>By <em>at hand</em>, I mean that I can get to the knowledge without much work.
That might mean memorizing it, or it might mean putting it into a tool
that I can use with little enough trouble for it not to matter that it&rsquo;s
outside my head. Note that what falls under &ldquo;little enough trouble&rdquo; will
rest on what you&rsquo;re doing with the knowledge.</p>
<h3 id="helpful">Helpful</h3>
<p>By <em>helpful</em>, I mean that having that knowledge in the right spot in my
KHS lets me do something I wouldn&rsquo;t be able to otherwise. <em>Helpful</em> is
tightly linked with <em>at hand</em> above, as what I hope to do with the
knowledge will drive what&rsquo;s the best way to hang onto it.</p>
<h2 id="bringing-in-new-knowledge">Bringing in New Knowledge</h2>
<p>There&rsquo;s a whole world of knowledge out there, so we need to think about
how to bring it in to our KHS. I break that down into three main steps:</p>
<ol>
<li>finding knowledge you might learn, 2) sifting for the best stuff in
what you find, and 3) processing it to get the good stuff into your set
up.</li>
</ol>
<h3 id="finding">Finding</h3>
<p>Luckily for us, today we can find knowledge more readily than ever
before. Still, it&rsquo;s helpful to think about where and how you&rsquo;re looking
for new knowledge, both in an ongoing way (what blogs to follow, where
to get book recommendations) and with goals in mind (I want to learn
more about blockchain).</p>
<h3 id="sifting">Sifting</h3>
<p>There are <em>a lot</em> of ways to find input out there today, and many of
them have a <a href="https://en.wikipedia.org/wiki/Sturgeon%27s_law">rather a lot of
crap</a>. So, how do you
keep away from the crap and get to the good stuff? Worse, how do you
break out the truly great from the merely good? Harder still, how do you
put aside &ldquo;great for others&rdquo; from &ldquo;great for me&rdquo;.</p>
<h3 id="processing">Processing</h3>
<p>You&rsquo;ve found a work that is truly great, matchlessly fitted to you and
where your knowledge-seeking are right now - it&rsquo;s <em>truly</em> the right
book/paper/class for you. So, what do you do with it? Even in a work
chock full of great stuff, some of it will be better, some worse, some
stuff you&rsquo;ll know, and some stuff over your head. So you need a way to
work out the right amount of time and drive and how to spend it.</p>
<h2 id="pulling-up-the-knowledge">Pulling Up the Knowledge</h2>
<p>You&rsquo;ve put in the work to bring some new knowledge in your KHS, so how
will you call up that knowledge when you need it? You can put it into
your head, where you&rsquo;ll find it when you go looking, or where it might
pop up to surprise you.</p>
<h3 id="put-knowledge-in-your-head">Put Knowledge In Your Head</h3>
<p>The oldest and most wieldy way to handle knoweldge is to, you know,
actually <em>learn</em> it. Put that knowledge inside your head so that you can
work with it in ways mindful and otherwise. Since this takes the most
work and uses up the dearest resource (room in your mind), you have to
be careful about what you keep this way.</p>
<h3 id="put-knowledge-where-you-can-find-it">Put Knowledge Where You Can Find It</h3>
<p>This is what we do with old-fangled lookup systems, like a file cabinet
or binder, but let&rsquo;s not knock it. You think about an article you read a
while back that might come in handy, look through where you keep it,
find it, and skim it to find the helpful bits. Let&rsquo;s stop for a breath
and acknowledge how amazing this everday thing is, still more so with
digital storage: without even getting online, my database on my computer
holds more works than most <em>countries</em> had to hand not too long ago. And
I don&rsquo;t even have to climb up one of those sweet ladders with wheels on
the top to find them.</p>
<h3 id="put-knowledge-where-it-can-find-you">Put Knowledge Where It Can Find You</h3>
<p>Often the most useful knowledge is that which we didn&rsquo;t know we needed
until it pops up and suddenly clicks, both <a href="https://electricliterature.com/surprising-yet-inevitable-ending-read-like-a-writer/">&ldquo;surprising and
inevitable&rdquo;</a>.
In the past you might only have found this when talking with smart
people that know things you don&rsquo;t or by sheer dumb luck on page 237 of
the book you&rsquo;re reading. These days, we are lucky to have tools that can
help do this for us, like search engines and database software. This is
especially helpful in generating new insights and other generative
creative work.</p>
<h2 id="doing-something-with-the-knowledge">Doing something with the knowledge</h2>
<p>Lastly, you need something worthwhile to do with this knowledge you&rsquo;re
working so hard to get a handle on. Though this comes last, it steers
much of what comes before, as what you want to do with knowledge will
drive what you bring in and how you pull it up. I find it helpful to
think about the &ldquo;so what&rdquo; of a given chunk of knowledge, to have goals
and undertakings the knowledge might help, and to grow the likelihood
that each chunk of knowledge will be helpful more widely.</p>
<h3 id="finding-the-so-what">Finding the &ldquo;So What&rdquo;</h3>
<p>With more to learn than any of us can ever handle, it&rsquo;s helpful to think
about you&rsquo;re learning what you are. I&rsquo;m bad at following this wisdom
myself, as I lean strongly toward &ldquo;learn ALL THE THINGS&rdquo;. While this is
great as an inwrought drive to seek out knowledge, it can often lead to
wasting time on unweighty things. So I&rsquo;ve been working on thinking more
carefully through &ldquo;what does this knowledge do for me? what is
worthwhile about learning it?&rdquo;</p>
<h3 id="goals-and-undertakings">Goals and Undertakings</h3>
<p>Once way to make clear why you&rsquo;re learning something is to link it to
named goals or undertakings. If you&rsquo;re building a dating app for dogs,
then it&rsquo;s likely helpful to learn things about the mating behavior of
dogs, the spending habits of dog owners, smart phone app economics, and
so forth. If you&rsquo;re not writing one, then not so much.</p>
<h3 id="un--and-re-setting">Un- and Re-Setting</h3>
<p>This last one is a bit unlike the other two. Rather than linking
knowledge to an end you already have in mind, this one is about upping
the likelihood that any given bit of knowledge will turn out to be
helpful by making it more readily link up with a wider field of other
bits of knowledge. You do this by taking chunks of knowledge and carving
away the setting it came from (un-setting), so that you can more readily
fit it into some other setting (re-setting). I learned this thought from
<a href="https://smile.amazon.com/How-Take-Smart-Notes-Nonfiction-ebook/dp/B06WVYW33Y/ref=sr_1_2?dchild=1&amp;keywords=how+to+take+smart+notes&amp;qid=1590701814&amp;sr=8-2"><em>How to Take Smart
Notes</em></a>,
of which more later in this series. I like to think of it as turning as
much of your knowledge as you can into Lego blocks that you can fit
together in new and awesome ways.</p>
<h2 id="conclusion">Conclusion</h2>
<p>So that&rsquo;s what I hope to go through with you over the next handful of
posts! A friend of mine once told me I ought to find undertakings that
&ldquo;scratch more than one itch&rdquo; as a way to deal with my manifold
interests, and that&rsquo;s what I&rsquo;m hoping to do here, using the writing of
these posts not only to work out what might go into a KHS, but to get
some practice putting it together as well.</p>
<p>If there are any tools, ways of working, or works that you love in this
field, do please share them, and let me know any of the above bits you&rsquo;d
like to hear more about.</p>

                    
                    <HR width="100%" id="EOF">
                    <p style="color:#777;">Last modified on 2020-05-29</p>
                    
                </div>
            </div>
            
            
            <nav class="post-pagination">

                
                <a class="newer-posts">
                    Next<br>No newer posts.
                </a>
                
                
                
                <a class="older-posts" href="/gaming/2019-06-12-best-spam-comment-ever/">
                    Previous<br>Best Spam Comment Ever
                </a>
                
            </nav>
            <div class="post-comment-wrapper">
                






            </div>
        </div>
    </div>
</div>

            </div><div id="single-column-footer">
Hugo Theme <a href="https://github.com/amazingrise/hugo-theme-diary">Diary</a> by <a href="https://amazingrise.net">Rise</a>
<br>
Ported from <a href="https://mak1t0.cc/" target="_blank" rel="noreferrer noopener">Makito</a>'s <a href="https://github.com/SumiMakito/hexo-theme-journal/" target="_blank" rel="noreferrer noopener">Journal.</a> <br>
<br>

&copy;
	
	2020 Jeff Russell&#39;s Webstead
	</div>
    	</div>
    <script src="/js/journal.js"></script>
    </body>
</html>
